*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

  
.titulo h2 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        font-size: 70px;
        color: blanchedalmond;
    }
.subtitulo{ text-align: center;}

.menu {
    display: flex;
    justify-content: flex-end;
    top: 30px;
    
}
nav a{
    color: rgb(139, 137, 137);
    font-size: 15px;
    margin-right: 10px;
    
    
}
h5 { color: #000;}

 
